.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;

  .content {
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;

    cursor: pointer;

    .caption {
      position: absolute;
      display: flex;
      top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: white;
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.25s;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transform: translateY(100%);
    left: 0;
    top: 0;
    background-color: #006266;
    transition: all 0.25s;
    transition-delay: 0.25s;
  }

  .content:hover .caption {
    opacity: 1;
    transform: translateY(0);

    transition-delay: 0.3s;
  }

  .content:hover:before {
    transform: translateY(0);
    transition-delay: 0s;
  }
}
